@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root { */
/*   --background: #ffffff; */
/*   --foreground: #171717; */
/* } */
/**/
/* @media (prefers-color-scheme: dark) { */
/*   :root { */
/*     --background: #0a0a0a; */
/*     --foreground: #ededed; */
/*   } */
/* } */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* USED IN MODAL */
.custom-border-gradient {
  background: linear-gradient(180deg, #b6f7ff 0%, #5254ca 100%);
  padding: 2px;
  border-radius: 18px;
}
